body {
    color:rgb(229, 245, 7);
    text-shadow: 4px 4px 4px rgb(240, 8, 143);
    background-image:  url('https://s1.favim.com/orig/150927/background-bae-beautiful-food-Favim.com-3363070.gif')
  }
 #titulos {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
 }

 .bxs {
  text-align: center;
  color: rgb(229, 245, 7);
  font-weight: bold;
  font-size: 45px;
  text-shadow: 4px 4px 4px rgb(240, 8, 143);
    }
 #textBox1 {
        text-align: center;
        color: #F072A9;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 1px 1px 1px #fff;
          }

          #textBox2 {
            text-align: center;
            color: rgb(229, 245, 7);
            font-weight: bold;
            font-size: 20px;
            text-shadow: 4px 4px 4px rgb(240, 8, 143);
            
              }
           #encodetxt {
                  text-align: center;
                  color: #F072A9;
                  font-weight: bold;
                  font-size: 35px;
                  text-shadow: 1px 1px 1px #fff;
                    }

                    ::placeholder {
                        color: black;
                    }

                    #decodetxt {
                        text-align: center;
                      color: rgb(229, 245, 7);
                      font-weight: bold;
                     font-size: 20px;
                       text-shadow: 4px 4px 4px rgb(240, 8, 143);
                     }
                          
 


            
 

 