body {
    color: white;
    background-image:  url('https://78.media.tumblr.com/90d14bc3c54a3daabd04bc8e61cc295a/tumblr_inline_n258ovpRe81qhwjx8.gif')
  }
#titulo {
    font-family:Arial, Helvetica, sans-serif;
}  